---
layout: page
title: Archive
permalink: /archive/
events: [EkoPartyCTF2017,SECTCTF2017,SHA2017CTF,BugsBunnyCTF2017,PoliCTF2017,GoogleCTF2017,SHATeaser2017,WhiteHatContest13,SecurityFest2017,HiBCTF2017,PlaidCTF2017,InsomnihackTeaser2017,SharifCTF2016,Juniors2016,SECCON2016]
---
<!-- # Insert newer event at the beginning -->

<div class="archive">
  {% for event in page.events %}
  	<h2>{{ event }}</h2>
    <ul class="post-list">
      {% for post in site.tags[event] %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
