<footer class="site-footer">

  <div class="wrapper">

	  <!-- <h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
       <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.email %}
          <li>
            {% include icon-email.html %}
          </li>
          {% endif %}
        </ul>
  
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.ctftime_username %}
          <li>
            {% include icon-ctftime.html username=site.ctftime_username userid=site.ctftime_userid %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter.username %}
          <li>
            {% include icon-twitter.html username=site.twitter.username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

      <section style="font-size: 10px; padding-left: 15px;"><a href="https://github.com/kuntoaji/dekyll">Dekyll</a> Theme By <a href="http://www.kaklabs.com">KAK Labs</a></section>

    </div>

  </div>

</footer>
